body{
    background: white;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
  } 
  
  h1 {
    size: 50px;
    Margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  h2 {
    font-family: 'roboto',sans-serif;
  }
  
  p {
    size: 20px;
    font-family: 'robot', sans-serif;
  }
  
  .white-font{
    color: white;
  }


